<section>
    <app-header [isLoggedIn]="false" [videoOfferRoute]="false"></app-header>
    <div class="log-in-container">
        <div class="log-in">
          <h2>Forgot your password?</h2>
          <p>We will send you an email with instructions to reset your password.</p>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <input
              type="email"
              formControlName="email"
              placeholder="Email Address"
              class="email"
            />
            <button type="submit" class="log-in-button" [ngClass]="{'disabled-button': forgotPasswordForm.invalid, 'active-button': forgotPasswordForm.valid}">Send Email</button>
          </form>
        </div>
      </div>
    <app-footer></app-footer>
</section>