section {
  background-image: url("../../../assets/img/log_in.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.log-in-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 43px 56px;
  gap: 32px;
}

h2 {
  font-size: 48px;
  color: var(--blue-color);
  margin: 0;
  font-weight: 700;
  line-height: normal;
  max-width: 400px;
}

p {
  font-size: 16px;
  color: var(--black-color);
  margin: 0;
  max-width: 380px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.password,
.email {
  padding: 12px 24px;
  border: 1px solid var(--blue-color);
  border-radius: 12px;
  font-size: 16px;
  gap: 10px;
  width: 408px;
  color: var(--blue-color);
}

.password::placeholder,
.email::placeholder {
  color: var(--blue-color); 
  opacity: 0.85;
}

.log-in-button {
  padding: 12px 24px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center;
  font-weight: 700;
  font-size: 18px;

  &:hover {
    filter: brightness(1.2);
  }
}

@media (max-width: 600px) {
  .log-in {
    padding: 32px 24px;
    max-width: 90%;
  }

  h2 {
    font-size: 40px;
    flex-grow: 1;
  }

  p { 
    flex-grow: 1;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .email {
    width: 100%;
  }
}


  