# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.scss-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Angular spezifische Build- und Cache-Dateien
.angular/cache
.angular/config.json

# Lokale Umgebungsdateien
/src/environments/environment*.ts

# Logs & Debugging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build-Artefakte
/.serverless
/.firebase/
firebase-debug.log

# Jest & Cypress (falls verwendet)
.jest/
.jest-cache/
.cypress/

# SonarQube (falls Code-Qualitätsprüfung)
.sonar/

# Lokale Secrets (falls vorhanden)
.env
.env.local
.env.*.local

# MacOS & Linux Systemdateien
*.swp

/src/assets/fonts
