header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4svh 5vw;
}

.video-offer-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}

.logo {
  img {
    height: 32px;
  }
}


.log-in {
  span {
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 40px;
    gap: 10px;
    padding: 12px 24px;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      padding: 12px 26px 12px 26px;
      background-color: #1c2bbf;
    }
  }
}

.log-out {
  display: flex;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 40px;
  gap: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    padding: 10px 23px 10px 23px;
    background-color: #1c2bbf;
  }
}

.go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;

  svg {
    width: 32px;
    height: 32px;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  &:hover svg {
    color: var(--blue-color);
    transform: translateX(-5px);
  }
}


