<section>
  <app-header [isLoggedIn]="true" [videoOfferRoute]="false"></app-header>
  <div class="log-in-container">
    <div class="log-in">
      <h2>Neues Passwort</h2>
      <p>Bitte gib dein neues Passwort ein.</p>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <input
          type="password"
          formControlName="password"
          placeholder="Neues Passwort"
          class="password"
          required
        />
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Passwort bestätigen"
          class="password"
          required
        />
        <button type="submit" class="log-in-button" [ngClass]="{'disabled-button': resetPasswordForm.invalid, 'active-button': resetPasswordForm.valid}">Passwort speichern</button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</section>
