<section>
    <app-header [legalInformationRoute]="true"></app-header>
    <div class="imprint-container">
          <h1>Impressum</h1>
      
          <h2>Angaben gemäß § 5 TMG</h2>
          <p>
            Robin Gerth<br />
            Hebelweg 63<br />
            79713 Bad Säckingen
          </p>
      
          <h2>Kontakt</h2>
          <p>
            <!-- Telefon: +49 (0) 123 456789<br /> -->
            E-Mail:
            <a class="link" href="mailto:kontakt@robin-gerth.de">
              kontakt&#64;robin-gerth.de
            </a>
          </p>
      </div>
</section>