<section>
  <app-header></app-header>
  <div class="dashboard-container">
    <h2>Movies, TV shows, and more</h2>
    <span>
        Enter your email to create or restart your subscription.
    </span>
    <form [formGroup]="dashboardForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Email Address">
      <button type="submit" [disabled]="dashboardForm.invalid" [ngClass]="{'disabled-button': dashboardForm.invalid, 'active-button': dashboardForm.valid}">Sign Up ></button>
      <!-- [disabled]="dashboardForm.invalid" -->
    </form>
  </div>
  <app-footer></app-footer>
</section>
