<section>
  <app-header [isLoggedIn]="true" [videoOfferRoute]="true"></app-header>
  <div *ngIf="loading === 2" class="big-thumbnail-container">
    <div class="description-container">
      <h2>{{ bigThumbnailTitle }}</h2>
      <p>{{ bigThumbnailDescription }}</p>
      <button (click)="navigateToVideoPlayer(bigThumbnailUrl)">
        <img
          src="assets/icons/play_arrow.svg"
          alt="Play Movie"
          class="play-icon"
        /><span class="play-text">Play</span>
      </button>
    </div>
    <img [src]="API_BASE_URL + bigThumbnailUrl" alt="Big Thumbnail" />
  </div>

  <div *ngIf="loading < 2" class="loading-screen">
    <div class="spinner"></div>
    <p>Loading...</p>
  </div>
  <div *ngIf="loading === 2" class="genres-container">
    <div *ngFor="let genre of genres; let i = index" class="genre-section">
      <h2>{{ genre.name }}</h2>
      <div class="thumbnail-slider">
        <div class="thumbnails" #slider>
          <div
            *ngFor="let movie of genre.movies"
            class="thumbnail-overlay-wrapper"
          >
            <img
              [src]="API_BASE_URL + movie.thumbnailUrl"
              alt="Thumbnail"
              (click)="navigateToVideoPlayer(movie.thumbnailUrl)"
            />
            <div class="overlay">
              <p class="overlay-title">{{ movie.title }}</p>
            </div>
          </div>
        </div>

        <!-- Zeige linken Pfeil nur, wenn nicht am Anfang -->
        <button
          *ngIf="showLeftArrowList[i]"
          class="prev"
          (click)="scrollLeft(slider)"
        >
          ‹
        </button>

        <!-- Zeige rechten Pfeil nur, wenn nicht am Ende -->
        <button
          *ngIf="showRightArrowList[i]"
          class="next"
          (click)="scrollRight(slider)"
        >
          ›
        </button>
      </div>
    </div>
  </div>

  <app-footer [videoOfferRoute]="true"></app-footer>
</section>
