:host {
  width: 100%;
}

section {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  padding-bottom: 5svh;
  align-items: center;
}

.big-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.6) 0%,
    rgba(20, 20, 20, 0) 50%,
    #141414 100%
  );

  > img {
    width: 100%;
    max-height: 65svh;
    object-fit: cover;
    object-position: bottom;
  }

  div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    left: 0;
    width: 100%;
    color: var(--white-color);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: background 0.5s ease-in-out;
    border-radius: 8px;
    max-height: 65svh;
    height: 100%;
    top: 0;
    padding-top: 10svh;

    &:hover h2,
    &:hover p {
      text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    }

    h2 {
      margin-block: 0;
      max-width: 300px;
      margin-left: 5vw;
    }

    p {
      margin: 0;
      max-width: 300px;
      margin-left: 5vw;
    }

    button {
      background-color: var(--blue-color);
      padding: 12px 24px;
      gap: 4px;
      border-radius: 40px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      margin-left: 5vw;
    }

    button:hover {
      cursor: pointer;
      background-color: #1c2bbf;
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.play-icon {
  width: 11px;
  height: 13px;
}

.play-text {
  transition: none;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.genres-container {
  width: 100%;
  max-width: 1600px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.genre-section {
  position: relative;

  h2 {
    color: white;
    margin-bottom: 1rem;
  }

  .thumbnail-slider {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    .thumbnails {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      scroll-behavior: smooth;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    img {
      height: 120px;
      width: auto;
      border-radius: 5px;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      transform-origin: center center;
      will-change: transform;

      &:hover {
        transform: scale(1.1);
      }
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
      padding: 1rem;
      font-size: 1.5rem;
      z-index: 10;
    }

    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }

    .thumbnail-slider.show-arrows .prev,
    .thumbnail-slider.show-arrows .next {
      visibility: visible;
    }
  }
}

.thumbnail-overlay-wrapper {
  position: relative;
  width: auto;
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }

  &:hover img {
    transform: scale(1.1);
  }

  .overlay {
    position: absolute;
    bottom: 0;
    height: 3svh;
    max-height: 25px;
    width: 220px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 0 0 5px 5px;
    transform: scale(1);

    .overlay-title {
      font-size: 0.8rem;
      color: #fff;
      margin: 0;
      max-width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
  }
}

@media (min-width: 2400px) {
  .big-thumbnail-container {
    max-height: 800px;

    > img {
      max-height: 800px;
    }

    div {
      background: unset !important;
    }
  }

  .description-container {
    left: 20% !important;
  }
}

@media (min-width: 3000px) {
  .big-thumbnail-container {
    max-height: 1000px;

    > img {
      max-height: 1000px;
    }
  }

  .description-container {
    left: 28% !important;
  }
}

@media (max-width: 700px) {
  .big-thumbnail-container {
    display: none;
  }

  .overlay {
    opacity: 1;
  }

  img {
    transform: none !important;
  }

  section {
    padding-top: 15svh;
    padding-bottom: 0;
  }
}

@media (pointer: coarse) and (orientation: landscape) {
  section {
    padding-top: 15svh;
    padding-bottom: 5svh;
  }

  .big-thumbnail-container {
    display: none;
  }
}
