section {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  padding-bottom: 5svh;
}

.big-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0.6) 0%,
    rgba(20, 20, 20, 0) 50%,
    #141414 100%
  );

  > img {
    width: 100%;
    max-height: 65svh;
    object-fit: cover;
    object-position: bottom;
    // object-position: 20% 70%;
  }

  div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--white-color);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.2) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    transition: background 0.5s ease-in-out;
    border-radius: 8px;

    &:hover h2,
    &:hover p {
      text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
    }

    h2 {
      margin-block: 0;
      max-width: 300px;
      margin-left: 5vw;
    }

    p {
      margin: 0;
      max-width: 300px;
      margin-left: 5vw;
    }

    button {
      background-color: var(--blue-color);
      padding: 12px 24px;
      gap: 4px;
      border-radius: 40px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      margin-left: 5vw;
    }

    button:hover {
      cursor: pointer;
      background-color: #1c2bbf;
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

.play-icon {
  width: 11px;
  height: 13px;
}

.play-text {
  transition: none;
}

.genres-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.genre-section {
  position: relative;

  h2 {
    color: white;
    margin-bottom: 1rem;
  }

  .thumbnail-slider {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    .thumbnails {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      scroll-behavior: smooth;
      white-space: nowrap;
      padding: 0 0.5rem;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    img {
      height: 120px;
      width: auto;
      border-radius: 5px;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      transform-origin: center center; // Optional, aber gut
      will-change: transform; // Optimiert Animationen

      &:hover {
        transform: scale(1.1);
      }
    }

    // Steuerungspfeile
    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
      padding: 1rem;
      font-size: 1.5rem;
      z-index: 10;
      visibility: hidden;
    }

    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }

    .thumbnail-slider.show-arrows .prev,
    .thumbnail-slider.show-arrows .next {
      visibility: visible;
    }
  }
}
